.content {
    padding: 7% 5%;
    background: rgb(22, 22, 22);
}

form {
    padding: 3% 2%;
}

form .row div {
    padding: 0 3%;
}

.btnC2 {
    padding: 7px 30px !important;
    font-style: unset;
    font-size: 14px !important;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}

.btnC:hover {
    background-color: rgba(255, 68, 0, 0.959) !important;
    color: rgb(180, 180, 180) !important;
    font-weight: 500 !important;
}

@media only screen and (min-width: 0) and (max-width: 400px) {
    .content {
        padding: 12% 5%;
        background: rgb(22, 22, 22);
    }
}